@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #040303;
  color: #DDDDDD;
  position: relative;
}

.hour-container, .date-container {
  display: flex;
justify-content: center;
  align-items: center;
  width: 100%;
}

.date, .month, .day {
  font-size: 42px;
  margin: 10px;
}

.hour, .minutes, .seconds {
  height: 300px;
  width: 260px;
  border-radius: 10px;
  margin: 10px;
  background-color: #0b002b;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

