@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Inconsolata", monospace;
  color: #fefefe;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 120px;
  font-weight: 400;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.hour-container,
.minutes-container,
.seconds-container {
  display: flex;
}

@media screen and (max-width: 480px) {
  .time {
    width: 400px;
    font-size: 72px;
  }
}
